<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="module" src="./assets/main.js"></script>
    <link rel="stylesheet" href="./assets/css/styles.css">

    <title>Microprocesseurs</title>
</head>

<body id="app">
    <header>
        <h1 class="title">Liste of the {{ nbCpu }} CPUs manufactured On Mulhouse </h1>
    </header>

    <main>
        <article class="cards-products">
            <article class="content-product" v-for="product of cpu">
                <h2 class="title title-section-stock">{{ product.brand }} {{ product.family }} {{ product.model }}</h2>
                    <img :src="'./assets/img/'+ product.brand + '.svg'" alt="logo produit">
                <ul>
                    <li><span>ID : </span>{{ product.id}}</li>
                    <li><span>Fréquences :</span>{{ product.ghz }}</li>
                    <li><span>Prix :</span> {{ product.price }}</li>
                    <li><span>Stock :</span> {{ product.stock }}</li>
                </ul>
            </article>
        </article>
        <article class="select-stock">
            <h1 class="title ">Inventory management</h1>
            <ol>
                <li>Select a CPU</li>
                <li>Edit the number of units in stock</li>
            </ol>
            <select v-model="produce" @change="selectCpu">
                <option value="0">Select a CPU</option>
                <option v-for="prod of cpu" :value="prod.id">{{ prod.brand }} {{ prod.family }} {{ prod.model }}
                </option>
            </select>
            <span v-if="select != null">

                <input type="number" v-model="select.stock">
                <button type="button" @click="updateSelectedCpu">Validation</button>
                <p>unit(s) in stock</p>
            </span>
        </article>
    </main>
    <footer>

    </footer>
</body>

</html>