<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="module" src="./assets/main.js"></script>
    <link rel="stylesheet" href="./assets/css/styles.css">

    <title>Production</title>
</head>

<body id="app">
    <header>
        <h1 class="title">CPU Production Simulation </h1>
    </header>

    <main id="main-production">
        <article class="productions" v-for="production of listProductions" :key="production.id">
            <article class="production title">
                <h2> {{ production.nom }}</h2>
                <p> {{ production.description }}</p>
            </article>
            <div>
                <label>Statut actuel du CPU </label>
                <progress max="100" :value="production.statusCurrent">{{ production.statusCurrent }}</progress>
            </div>
            <div>
                <label for="status">Total produit </label>
                <progress id="file" :max="production.nbProduce" :value="production.totalProduce"> {{ production.totalProduce }} / {{ production.nbProduce }}</progress>
            </div>
            <div>
                <label for="units">Nombre d'unités à produire :</label>
                <input type="number" v-model="production.totalProduce" id="units">
                <button type="button" :data-id="production.id" @click="startProd">Démarrer</button>
            </div>
        </article>

    </main>

    <footer>

    </footer>
</body>

</html>