:root {
    --couleur-bleu-clair: #00a4fc94;
    --couleur-bleu-clair-transparent: #0079bc55;
    --couleur-bleu: #00008b;
    --couleur-rouge: #ff0000;
}
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
}
.title {
    background-color: var(--couleur-bleu-clair-transparent);
    color:var(--couleur-bleu);
    padding:  15px;
    

}

header{
    width: 100%;
    background: url('../img/banner.jpg') center no-repeat;
    background-size: cover;
    height: 250px;
}
header h1 {
    width: 70%;
    padding: 25px 0;
    display: block;
    padding: 20px;
}
main {
    width: 100%;
}
.cards-products{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

}

.select-stock {
    border: 1px solid red;

}
.content-product{
    width: 350px;
}
footer {
    height:200px ;
}