/* Bleu clair : #0079bc
Bleu clair transparent : #0079bc55
Bleu foncé : #00008b

Rouge : #FF0000 */
*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #0079bc55;
 
}
ul{
    list-style: none;
}
main {
    width: 100%;

}
#banner {
    width: 100%;
    height: 300px;
    background: url('../img/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15px;
}
#banner h1{
    color: #00008b;
    background-color: #0079bc55;
    width: 600px;
}
#cpus {
   display: flex;
   flex-wrap: wrap;
   margin: 0 auto;
}
#cpus article {
    border: 1px solid ;
    margin: 10px;
    border: 1px solid #FF0000;
    border-radius: 0 0 30% 0 ;
    width: 421px;
  
}
#cpus  .block{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}
.title {
    background-color: #0079bc55;
   color: #0079bc;
    margin: 0;
    text-align: center;
    padding: 15px;
}
#cpus .title h2{
    text-align: center;
    width: 100%;
}
.logo {
    width: 60px;
    margin: 10px;
}
#cpus article ul{
    margin: 15px;

}

.inventory {
    color: #00008b;
    width: 553px;
    
}
.inventory h2{
    margin: 10px 15px;
}
.inventory label {
    margin: 30px;
}